<ion-header mode="ios">
  <ion-toolbar>
    <ion-title>Gracias!!!</ion-title>

      <ion-button slot="start" (click)="closeModal()" color="primary" fill="clear">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" mode="ios">

  <p>Esta Aplicación ni su desarrollador <strong>no vende</strong> ni compra ningún tipo de Bien Pasivo o Activo , solo muestra la cotización actualizada del dolar de Mercado conocido como "Dolar Blue".</p>
  <p>Esta Aplicación ni su desarrollador <strong>no tiene</strong> ningún tipo de relación con las entidades que se en listan en el menú principal. Todas las agencias aquí mostradas son recopiladas por tener una buena reputación en la comunidad.</p>
  <p>El calificar esta app me ayuda a mucho al desarrollador a seguir mejorando el contenido y funcionalidades de la misma.</p>

  <hr>

  <ion-button expand="full" shape="round">
    Calificar esta app.
    <ion-icon class="start-rate" name="star-outline"></ion-icon>
    <ion-icon class="start-rate" name="star-outline"></ion-icon>
    <ion-icon class="start-rate" name="star-outline"></ion-icon>
    <ion-icon class="start-rate" name="star-outline"></ion-icon>
    <ion-icon class="start-rate" name="star-outline"></ion-icon>
  </ion-button>

  <h1>Mas Informacion</h1>
  <p><a href="https://www.cristiangonzalez.site">www.cristiangonzalez.site</a></p>
  <p><a href="mailto:contact@cristiangonzalez.site">contact@cristiangonzalez.site</a></p>

</ion-content>
