<ion-tabs mode="ios">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="houses-list">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Casas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cotization">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Cotización</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calculadora">
      <ion-icon name="calculator-outline"></ion-icon>
      <ion-label>Calculadora</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
