#convertTo_display{
   text-align: center;
}
//Diferents size of displays for convertTo_display
.text-big{
   font-size: 100px;
}
.text-medium{
   font-size: 75px;
}
.text-small{
   font-size: 50px;
}
.text-too-small{
   font-size: 25px;
}

#divisa{
   text-align: center;
}
